.container{
    display: flex;
    padding: 13px 8px;
    align-items: center;
}

.logo{
    display: flex;
    font-size: 25px;
    align-items: center;
}

input{
    display: flex;
    border:none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
}

