*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
  }
.App{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #E4E9F7;
    overflow-x: auto;
}

h1{
    margin: 0;
    padding: 0;
}

.Nav{
    display: flex;
}

.Container{
    display: flex;
    flex-direction: column;
    padding:  20px;
    width: 100%;
}


.TopBar{
    display: flex;
    background-color: #FFF;
    border-radius: 6px;
    justify-content: space-between;
    align-items:center;
}

.Main{
    display: flex;
    margin-top: 30px;
    background-color: blanchedalmond;
}

body{
    margin:0;
    padding:0;
}


